<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<!-- Below we are loading in a partials file named header.hbs. -->
{{>header}}
<p>{{ message }}</p>
{{>footer}}

</body>
</html>